/*
CTC Separate Stylesheet
Updated: 2020-05-02 18:49:18
Theme Name: Shop Isle Child
Theme URI: http://themeisle.com/themes/shop-isle/
Template: shop-isle
Author: Themeisle
Author URI: https://themeisle.com
Description: ShopIsle is the perfect free theme designed for your WooCommerce shop based on bootstrap. Due to its flexibility ShopIsle can also be used for a one page business site, it has a fullscreen image, parallax effect, it provides a responsive blog section, is eCommerce ready, WPML, Photo Gallery Grid,Contact Form 7,Meta Slider, SiteOrigin Page Builder, JetPack compatible and SEO friendly. It features a simple, minimal and elegant style which will work perfectly for a clothing, electronics and almost any kind of store.
Tags: two-columns,one-column,grid-layout,right-sidebar,custom-background,custom-colors,custom-header,custom-menu,featured-images,full-width-template,footer-widgets,theme-options,translation-ready,e-commerce,blog,portfolio,threaded-comments
Version: 1.1.60.1588445358
*/

#table_1{
	border:2px solid grey;
	font-size:15px;
	opacity:85%;
	width:50%:
}

table, td, th {  
  border: 2px solid #ddd;
  text-align: center;
}

th, td {
  padding: 10px;
}

tr:hover {background-color: #f5f5f5;}

.dwtablelabel {
    text-align: center;
    padding-bottom: 30px;
}

.copyright, font-alt{
	padding: 5px;
	text-align:center;
	margin-left:300px;
	width:100%;
}

.footer-social-links{
	padding:1px;
	width:90%;
}

/* My Account Page options */

module-title {
    position: relative;
    color: #111;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 8px;
}

.woocommerce-MyAccount-navigation{
	border:1px solid black;
	padding:10px 5px 1px;
	color:black;
	background-color: #D5D8DC;
}

.woocommerce-account .woocommerce-MyAccount-content {
	width:70%;
	border:2px solid black;
	padding:10px;
}

/* Booking calendar options */

.booking_form .form-group .controls select, .booking_form select, .booking_form textarea, .booking_form input[type="text"] {
    width: 270px;
}

.booking_form_div textarea, .booking_form_div select[multiple], .booking_form_div select[size] {
    height: 150px;;
}

.booking_form_div textarea, .booking_form_div input[type="text"], .booking_form_div select {
    border-color: #DFDFDF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    vertical-align: baseline;
}

/* Booking calendar form button */

.wpdevelop .btn {
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid transparent;
    white-space: nowrap;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 1.42857143;
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
		background-color:transparent;
}

/* Three icons in the appointment page */

.elementor-25 .elementor-element.elementor-element-0850722 .obfx-grid-container {
    padding: 25px;
}

/* Audio shortcode */
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
    height: 25px;
		float:left;
}

/* Products Page Options */

ul.products li.product h2, ul.products li.product h3, .wccm-td div {
    margin: 20px 1px 5px;
    color: black;
    font-family: sans-serif;
    font-size: 11px;
	
    /* font-weight: 400; */
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 20px;
}

/* Contact us page options*/

/* Like us on facebook*/
.elementor-16 .elementor-element.elementor-element-6afe4c7 > .elementor-element-populated {
    /* text-align: left; */
    text-align: center;
    padding-left: 600px;
		font-size:20px;
}

.elementor-16 .elementor-element.elementor-element-6afe4c7 > .elementor-element-populated {
    /* text-align: left; */
    text-align: center;
    padding-left: 600px;
    font-size: 15px;
		position:absolute;
		color:blue;
		text-transform: uppercase;
}

/* Account login Screen*/

.woocommerce-account input[type="text"], .woocommerce-account input[type="email"], .woocommerce-account input[type="password"], .woocommerce-account input[type="tel"] {
    padding: 10px;
    border: solid 2px;
}

.form-row label {
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: underline;
}

.form-row .button, .form-row input[type=checkbox], .form-row input[type=radio], .woocommerce-checkout input[type=radio] {
    float: right;
    height: auto;
    margin-right: 10px;
    border: solid 2px grey;
}

.form-row #rememberme {
    vertical-align: -12px;
    float: left;
}

.woocommerce-account h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
    border: beige;
    text-align: center;
}
.elementor a {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    color: blue;
}

/* Search button for table */
#comments input[type=submit], button[type=submit] {
    width: auto;
    padding: 5px 37px;
    border: none;
    border-radius: 2px;
    color: #fff;
    background: grey;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* search button label */
label {
    display: block;
    color: black;
		padding-left:100px;
}

/* Search button text area */
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 30%;
    text-align: center;
}

.w3-red{
	background-color:black;
}

.w3-red th{
	color:white;
}

td{
	color:black;
}